In [ ]:

#detecting missing values
#first of all i uploaded the file then load the data set
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', None, 'Eve'],
    'Age': [25, None, 30, 22, 29],
    'City': ['New York', None, 'Los Angeles', 'Chicago', 'Houston'],
    'Salary': [70000, 80000, None, 50000, None]
}
df = pd.DataFrame(data)

#now missing values finding
print(df.isna())# in the output where false occure it means the value is  not missing
print(df.isnull())#working same a s that of isnull
print(df.notna())
print(df.notnull())
new_data_set=df.dropna()# dropping rows
print(new_data_set)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [np.nan, 2], "B": [3, 4], "C": [5, 6]})
df
new_data = df.dropna()

print(new_data)
df.dropna(axis="columns")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [np.nan, 2], "B": [3, 4], "C": [np.nan, np.nan]})
print(df)
df.dropna(how="all",axis="columns")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [np.nan, 2], "B": [3, 4], "C": [np.nan, np.nan]})
print(df)
df.dropna(thresh=2, axis=1)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [np.nan, 2], "B": [3, 4], "C": [np.nan, np.nan]})
df.dropna(subset=[1], axis=1)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [np.nan, 2], "B": [3, 4], "C": [5,6]})
df.dropna(inplace=True)
df

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [None,5,6], "B": [7,None,8], "C": [9,None,None]})
df.fillna(10)
df.fillna({"A":"","C":10})
df.fillna(method="bfill")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [None,5,6], "B": [7,None,8], "C": [9,None,None]})
df.fillna(10)
df.fillna({"A":"","C":10})
df.fillna(method="ffill")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [None,5,6], "B": [7,None,8], "C": [9,None,None]})
df.fillna(10)
df.fillna({"A":"","C":10})
df.fillna(method="ffill",axis=1)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [None,5,6], "B": [7,None,8], "C": [9,None,None]})
df.fillna(10)
df.fillna({"A":"","C":10})
df.fillna(method="ffill",limit=1)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [None,5,6], "B": [7,None,8], "C": [9,None,None]})
df.fillna(10)
df.fillna({"A":"","C":10})
df.fillna(2,limit=1)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [None, 5, 6], "B": [7, None, 8], "C": [9, None, None]})

df_filled_1 = df.fillna(10)
print("DataFrame after filling NaN with 10:\n", df_filled_1)

df_filled_2 = df.fillna({"A": "", "C": 10})
print("\nDataFrame after filling column A with '' and column C with 10:\n", df_filled_2)

mean_imputed_df = df.fillna(df.mean())
print("\nDataFrame after filling NaN with column means:\n", mean_imputed_df)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [None, 5, 6], "B": [7, None, 8], "C": [9, None, None]})

df_filled_1 = df.fillna(10)
print("DataFrame after filling NaN with 10:\n", df_filled_1)

df_filled_2 = df.fillna({"A": "", "C": 10})
print("\nDataFrame after filling column A with '' and column C with 10:\n", df_filled_2)

median_imputed_df = df.fillna(df.median())
print("\nDataFrame after filling NaN with column means:\n", median_imputed_df)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [None, 5, 6], "B": [7, None, 8], "C": [9, None, None]})

df_filled_1 = df.fillna(10)
print("DataFrame after filling NaN with 10:\n", df_filled_1)

df_filled_2 = df.fillna({"A": "", "C": 10})
print("\nDataFrame after filling column A with '' and column C with 10:\n", df_filled_2)

mode_imputed_df = df.fillna(df.mode().iloc[0])
print("\nDataFrame after filling NaN with column mode:\n", mode_imputed_df)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [1,2], "B": [3,4]})
df.replace(1,5)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [1,2], "B": [3,4]})
df.replace([1,2],5)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [1,2], "B": [3,4]})
df.replace([1,2],[5,6])

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [1,2], "B": [3,4]})
df.replace({1:5,3:6})

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": ["ali","bob"], "B": ["cathy","doge"]})
df.replace("a","erric",regex=True)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [1,2], "B": [1,2]})
df.replace({"A":1},3)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [1,2], "B": [3,4]})
DF.replace({"A":{1:5,2:6})

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": ["a","b","c"]})
df.replace("b", method="ffill")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": ["a","b","c"]})
df.replace("b", method="bfill")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": ["a","b","c"]})
df.replace("b", method="bfill",limit=1)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [1,2], "B": [3,4]})
df.replace(1, 5, inplace=True)

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [3,np.nan, 5, 6], "B": [1,5,np.nan,9], "C": [1,5,np.nan,np.nan]})
df.interpolate()

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [3,np.nan, 5, 6], "B": [1,5,np.nan,9], "C": [1,5,np.nan,np.nan]})
df.interpolate(axis=1)

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"B":[5,np.nan,9]}, index=[5,10,30])
df.interpolate(mmethod="index")

In [ ]:
index_date = pd.to_datetime(["2020-12-01","2020-12-02", "2020-12-15", "2020-12-31"])
df = pd.DataFrame({"A":[1,np.nan,np.nan,31]}, index=index_date)
df
df.interpolate()

In [ ]:
index_date = pd.to_datetime(["2020-12-01","2020-12-02", "2020-12-15", "2020-12-31"])
df = pd.DataFrame({"A":[1,np.nan,np.nan,31]}, index=index_date)
df
df.interpolate(method="time")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [3,np.nan, 5, 6], "B": [1,5,np.nan,9], "C": [1,5,np.nan,np.nan]})
df.interpolate(limit_direction="backward")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [3,np.nan, 5, 6], "B": [1,5,np.nan,9], "C": [1,5,np.nan,np.nan]})
df.interpolate(limit_direction="both")

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [np.nan,5], "B": [5,np.nan]})
df.interpolate()

df.interpolate().dtypes

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [np.nan,5], "B": [5,np.nan]})
df.interpolate(downcast=infer).dtypes

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eve', 'Bob'],
    'Age': [25, 30, 35, 25, 40, 30],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Houston', 'Los Angeles']
}

df = pd.DataFrame(data)

df_no_duplicates = df.drop_duplicates()

print(df_no_duplicates)

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eve', 'Bob'],
    'Age': [25, 30, 35, 25, 40, 30],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Houston', 'Los Angeles']
}

df = pd.DataFrame(data)

df_no_duplicates = df.drop_duplicates()

df_subset_no_duplicates = df.drop_duplicates(subset=['Name', 'Age'])

print( df_no_duplicates)
print( df_subset_no_duplicates)

In [ ]:
import pandas as pd
from scipy import stats

data = {
    'height': [150, 160, 165, 170, 175, 180, 190],
    'weight': [50, 55, 60, 65, 70, 80, 85],
    'age': [22, 25, 30, 35, 40, 45, 50]
}

df = pd.DataFrame(data)

z_scores = stats.zscore(df[['height', 'weight', 'age']])

z_scores_df = pd.DataFrame(z_scores, columns=['height_z', 'weight_z', 'age_z'])

df_with_z_scores = pd.concat([df, z_scores_df], axis=1)

df_outliers = df_with_z_scores[(z_scores_df > 3).any(axis=1) | (z_scores_df < -3).any(axis=1)]

print(df_outliers)

In [ ]:
import pandas as pd

# Creating a DataFrame with some sample numerical data
data = {
    'height': [150, 160, 165, 170, 175, 180, 190],
    'weight': [50, 55, 60, 65, 70, 80, 85],
    'age': [22, 25, 30, 35, 40, 45, 50]
}

df = pd.DataFrame(data)

Q1 = df[['height', 'weight', 'age']].quantile(0.25)
Q3 = df[['height', 'weight', 'age']].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = (df[['height', 'weight', 'age']] < lower_bound) | (df[['height', 'weight', 'age']] > upper_bound)
iqr = df[outliers.any(axis=1)]


print(iqr)